@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --primary-color: #f9b64d; */
  /* --primary-color: #00A67E; */
  --primary-color: #343541;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* color: #333; */
  color: #ececf1;
  background: #202123;
}

/* Navbar */
.navbar {
  background: #202123;
  color: #00A67E;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar a {
  color: #00A67E;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: #ececf1;
}

/* Showcase */
.showcase {
  height: 450px;
  width: 100%;
  background: var(--primary-color);
}

.showcase h1 {
  font-size: 2.5rem;
  color: #ececf1;
  text-align: center;
  padding: 1rem 0;
}

.showcase form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.showcase form input,
form select {
  font-size: 20px;
  width: 500px;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

form button {
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

form button:hover {
  transform: scale(1.1);
}

/* Image */

.image {
  width: 100%;
  margin-top: 2rem;
}

img {
  display: block;
  margin: auto;
}

.msg {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}


@media only screen and (max-width: 900px) {
  .navbar{
    display: flex;
  }
  
.form-h1{
  font-size: 32px !important;
}

.form-control input{
  height: 16px !important;
  width: 300px !important;
}

  form select{
    height: 16px !important;
    width: 200px !important;
  }
}